{% extends 'base.html' %}

{% block content %}
<div class="starter-template">
  <img src="https://loremflickr.com/900/500?random=1" />
  <!-- <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
</div>
{% endblock %}
